@import url('assets/CSS/common.css');
@import url('assets/CSS/header.css');
@import url('assets/CSS/font.css');
@import url('assets/CSS/slider.css');
@import url('assets/CSS/main.css');
@import url('assets/CSS/display.css');
@import url('assets/CSS/footer.css');

body{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

.container{
    width: 100%;
}


