.bottom-slider-content{
    margin-top: 50px;
}

.bottom-slider-content-header{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 70px;
}

.content-header{
    padding-bottom: 35px;
    margin-bottom: 50px;
    position: relative;
}

.content-header::before{
    content: '';
    width: 60%;
    border-bottom: solid 1px #d8d8d8;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.content-header::after{
    content: '';
    background-color: #d8d8d8;
    width: 8px;
    height: 8px;
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 100%;
    box-shadow: 0 0 0 8px rgba(255, 255, 255);
}

.content-header-subheading{
    font-size: 16px;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}