.slide{
    position: relative;
}

.slider-content{
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translate(0,-50%);
}

.slider-content-align{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--header);
}

.slider-content-align h4{
    font-size: 18px;
    margin: 0;
    font-weight: 500;
}

.slider-content-align h2{
    font-size: 50px;
    margin: 0;
    margin-top: 2%;
}

@media only screen and (max-width:991px){
    .slider-content-align h4{
        margin: 0;
        font-weight: 500;
    }
    
    .slider-content-align h2{
        font-size: 35px;
    }
}

@media only screen and (max-width:767px){
    .slider-content-align h4{
        display: none;
    }
    
    .slider-content-align h2{
        font-size: 24px;
    }
}

@media only screen and (max-width:500px){
    .slider-content-align h2{
        font-size: 20px;
    }
}
