body{
    padding: 0;
    margin: 0;
}

.heading{
    margin: auto;
    width: 10%;
    margin-top: 5%;
    margin-bottom: 1%;
}
.crud-form{
    margin: auto;
    width: 22%;
    margin-bottom: 3%;
}
input{
    width: 300px;
    height: 25px;
    padding-left: 15px;
    border: 1px solid gray;
    border-radius: 5px;
}
input [type="submit"]{
    width: 350px;
}

table tr th{
    width: 100px;
    border: 1px solid black;
}
.edit-delete{
    width: 200px;
}
