.header_top{
    padding-top: 15px;
    padding-bottom: 10px;
    /* background-color: azure; */
    display: flex;
    /* opacity: 0; */
}

.navbar{
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
}

ul{
    display: flex;
    justify-content: space-around;
    padding: 0;
}

li{
    list-style-type: none;
}

.seachbar{
    display: flex;
    align-items: center;
}

.seachbar input[type="text"]{
    height: 22px;
    padding: 5px;
    border-radius: 5px 0px 0px 5px;
    border: 2px solid rgb(75, 71, 71, 0.5);
}

.seachbar input[type="button"]{
    height: 36px;
    margin-left: -5px;
    width: 80px;
    border: 2px solid rgb(75, 71, 71, 0.6);
    border-radius: 0px 5px 5px 0px;
}

.seachbar input[type="text"]::placeholder{
    padding: 10px;
}

.demo{
    /* border: 1px solid green; */
    width: 10%;
    margin: auto;
}

.icon {
    display: none;
}

@media only screen and (max-width:1120px) {
    /* body{
        background-color: rgb(98, 168, 203);
    } */

    .header_top{
        display: block;
        position: relative;
    }

    .seachbar{
        position: absolute;
        top: 15px;
        right: 0px;
    }

    .navbar{
        display: inline-block;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    .demo{
        /* border: 1px solid green; */
        width: 10%;
        margin: auto;
    }
    /* .seachbar input[type="text"]{
        height: 22px;
        padding: 5px;
        width: 250px;
        border-radius: 5px 0px 0px 5px;
        border: 2px solid rgb(75, 71, 71);
    }

    .seachbar input[type="button"]{
        height: 35px;
        margin-left: -5px;
        width: 80px;
        border: 1px solid rgb(75, 71, 71);
        border-radius: 0px 5px 5px 0px;
    } */
}

@media only screen and (max-width:1351px){
    .demo{
        /* border: 1px solid green; */
        width: 13%;
        margin: auto;
    }
}

@media only screen and (max-width:1069px){
    .demo{
        /* border: 1px solid green; */
        width: 14%;
        margin: auto;
    }

}

@media only screen and (max-width:600px){
    .icon {
        display: block;
        position: absolute;
        top: 20px;
        right: 0px;
    }

    .seachbar{
        display: none;
    }
}