.header{
    position: relative;
    background-image: linear-gradient(to right, rgb(229, 245, 229), rgb(245, 245, 230), rgb(239, 220, 239), rgb(242, 224, 241)) 
}
.navbar{
    display: flex;
    padding-top: 20px;
}
.navbar_logo{
    width: 15%;
}

.navbar_menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 67%;
}

.navbar_menu ul{
    width: 80%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar_profile{
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.navbar_profile-signin{
    margin-right: 10px;
}

.navbar_profile-button button{
    padding: 5px 10px;
}
/* .header_main-content{
    display: flex;
    position: relative;
} */
.header_subcontent{
    width: 50%;
}
.header_content{
    margin-top: 110px;
    font-size: 64px;
    font-weight: 100;
    width: 60%;
}
.header-image{
    top: 11%;
    left: 42%;
    position: absolute;
}
@media screen and (max-width:900px) {
    .navbar{
        padding: 0px 20px;
    }
    .navbar_menu{
        width: 73%;
    }
    .navbar_menu ul li{
        padding: 0 1.5%;
        font-size: 13px;
    }
    .navbar_profile{
        font-size: 13px;
    }
    .navbar_profile-signin{
        padding-right: 5px;
        padding-left: 0px;
    }
}

@media screen and (max-width:767px){
    .navbar{
        flex-wrap: wrap;
    }
    .navbar_logo{
        width: 50%;
    }
    .navbar_menu{
        margin-top: 10px;
        width: 100%;
        order: 2;
    }
    .navbar_menu ul{
        justify-content: space-evenly;
        white-space: nowrap;
    }
    .navbar_menu ul li{
        padding: 0 1.5%;
        font-size: 11px;
    }
    .navbar_profile{
        order: 1;
        width: 50%;
        font-size: 11px;
    }
}